.catalog-intro {
    padding: 130px 0 85px 0;
    background: url(../../resources/img/catalogIntro/catalog-bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    &__title {
        color: #fff;
    }
}